@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  border: none;
  font: inherit;
  color: inherit;
}

/* BASE STYLES */
body {
  background-color: #222327;
  font-family: 'IBM Plex Mono', sans-serif;
  min-height: 100vh; /* Changed from 500vh */
}

/* NORMAL STYLES */
.header {
  position: fixed;
  width: 100%;
  z-index: 1001;
}

.top-bar {
  background-color: rgb(39, 44, 51);
}

.top-bar__content {
  height: 30px;
  max-width: 1200px;
  padding: 0 30px;
  margin: 0 auto;
  display: flex;
  justify-content: end;
  align-items: center;
  column-gap: 20px;
  font-size: 12px;
  font-family: "IBM Plex Mono", sans-serif;
  color: rgba(255, 255, 255, 0.807);
}

.icon {
  margin-right: 3px;
  color: rgba(255, 255, 255, 0.17);
}

.bottom-bar {
  background-color: rgb(19, 22, 26);
}

.bottom-bar__content {
  min-height: 110px;
  max-width: 1200px;
  padding: 0 30px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  vertical-align: middle;
  display: flex;
  column-gap: 10px;
  align-items: center;
  justify-content: start;
}

.logo__img {
  height: 110px;
  width: 230px;
}

.nav {
  transition: all 0.3s ease-in-out;
}

.nav__list {
  display: flex;
  column-gap: 40px;
}

.nav__link {
  color: rgba(255, 255, 255, 0.75);
  font-family: "IBM Plex Mono", sans-serif;
  transition: all 0.2s;
}

.nav__link:hover,
.nav__link:focus {
  color: rgba(255, 255, 255, 1);
}


.hamburger {
  cursor: pointer;
  display: none;
}

.bar {
  height: 2px;
  width: 27px;
  background-color: #fff;
  margin: 5px 0;
  opacity: 0.8;
  transition: all 0.3s ease-in-out;
}

/* For JS */
.nav--open {
  left: 50% !important;
}

.hamburger--open .bar:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}

.hamburger--open .bar:nth-child(2) {
  opacity: 0;
}

.hamburger--open .bar:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
}

  .hero {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
    padding-top: 5%;
  }
  
  .hero__title {
    /* font-family: "Montserrat", sans-serif; */
    color: #fff;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
  }
  
  .hero__description {
    color: rgba(255, 255, 255, 0.807);
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
  }
  
  .btn {
    display: inline-block;
    padding: 10px 30px;
    border-radius: 30px;
    background-color: #ff6c0a;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.2s ease-in-out;
    margin-left: 39%;
    
  }

  .btn1 {
    display: inline-block;
    padding: 10px 30px;
    border-radius: 30px;
    background-color: #ff6c0a;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.2s ease-in-out;
    margin-left: 36.5%;
    margin-top:3%
  }
  .btn2 {
    display: inline-block;
    padding: 10px 30px;
    border-radius: 30px;
    background-color: #ff6c0a;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.2s ease-in-out;
  }
  
  .btn:hover, .btn1:hover {
    background-color: #ff8426;
  }
  
  /* FEATURES SECTION */
  .features-vertical {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin-top: 50px;
    color: white;
    padding-bottom: 2%;
  }
  
  .feature {
    text-align: center;
    max-width: 570px;

  }
  
  .feature__icon {
    font-size: 36px;
    margin-bottom: 10px;
  }
  
  .feature__title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .feature__description {
    font-size: 16px;
  }
  
  .Inspiration {
    background-color: #333;
    color: #fff;
    padding: 80px;
    text-align: center;
  }
  
  .Inspiration-quote {
    font-size: 44px;
    font-style: italic;
    margin-bottom: 20px;
  }
  
  .Inspiration__author {
    font-size: 30px;
  }
  
  .footer {
    background-color: #222327;
    color: rgba(255, 255, 255, 0.807);
    padding: 20px 0;
    text-align: center;
  }
  
  .footer p {
    margin: 0;
  }
  

  .cta {
    background-color: #ff6c0a;
    color: #fff;
    padding: 80px;
    text-align: center;
  }
  
  .cta__title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
@media (max-width: 770px){
  .hero {
    padding-top: 15%;
  }
}
@media (max-width: 485px){
  .btn{
    margin-left: 38%;
  }
  .btn1{
    margin-left: 35.5%;
  }
}

  @media (max-width: 700px) {
    .nav {
      position: fixed;
      top: 90px;
      left: -100%;
      transform: translateX(-50%);
      background-color: rgb(19, 22, 26);
      width: 100%;
      padding: 10px 0 25px;
    }
  
    .nav__list {
      flex-direction: column;
      align-items: center;
      row-gap: 20px;
    }
  
    .nav__link {
      font-size: 14px;
    }
    .top-bar__content {     
      padding: 0 2px;     
      justify-content: center;
    }
  
  
    .hamburger {
      display: block;
    }
  }
  
  @media (max-width: 360px) {
    .top-bar__content {
      font-size: 10px;
    }
  }
  
  @media (min-width: 1300px) { 
    .bottom-bar__content {
      min-height: 110px;
      padding: 0 30px;
      margin: 0 auto;  
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  

