{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="icon" type="image/png" href="{% static 'favicon.png' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>NPS Chess Society</title>
</head>
<body>
    <h1>Events</h1>
<div class="all_cards">
    <div class="card">
        <img  class="cardimg" src="{% static 'favicon.png' %}" alt="Image not supported">
        <div class="content">
            <p>INFORMATION GOES HERE</p>
        </div>
        <div class="extra">
            <div>
                <a href="" class="link">Read More</a>
            </div>
        </div>
    </div>
    <div class="card">
        <img  class="cardimg" src="{% static 'favicon.png' %}" alt="Image not supported">
        <div class="content">
            <p>INFORMATION GOES HERE</p>
        </div>
        <div class="extra">
            <div>
                <a href="" class="link">Read More</a>
            </div>
        </div>
    </div>
    <div class="card">
        <img  class="cardimg" src="{% static 'favicon.png' %}" alt="Image not supported">
        <div class="content">
            <p>INFORMATION GOES HERE</p>
        </div>
        <div class="extra">
            <div>
                <a href="" class="link">Read More</a>
            </div>
        </div>
    </div>
    <div class="card">
        <img  class="cardimg" src="{% static 'favicon.png' %}" alt="Image not supported">
        <div class="content">
            <p>INFORMATION GOES HERE</p>
        </div>
        <div class="extra">
            <div>
                <a href="" class="link">Read More</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>