@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  border: none;
  font: inherit;
  color: inherit;
}
span {
  font-family: "IBM Plex Mono", sans-serif;
}

/* BASE STYLES */
body {
  background-color: #222327;
  font-family: 'Lato', sans-serif;
  min-height: 100vh; /* Changed from 500vh */
  font-weight: bolder;
}

/* NORMAL STYLES */
.header {
  position: fixed;
  width: 100%;
  z-index: 1001;
}

.top-bar {
  background-color: rgb(39, 44, 51);
}

.top-bar__content {
  height: 30px;
  max-width: 1200px;
  padding: 0 30px;
  margin: 0 auto;
  display: flex;
  justify-content: end;
  align-items: center;
  column-gap: 20px;
  font-size: 12px;
  font-family: "IBM Plex Mono", sans-serif;
  color: rgba(255, 255, 255, 0.807);
}

.icon {
  margin-right: 3px;
  color: rgba(255, 255, 255, 0.17);
}

.bottom-bar {
  background-color: rgb(19, 22, 26);
}

.bottom-bar__content {
  min-height: 110px;
  max-width: 1200px;
  padding: 0 30px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  vertical-align: middle;
  display: flex;
  column-gap: 10px;
  align-items: center;
  justify-content: start;
}

.logo__img {
  height: 110px;
  width: 230px;
}

.nav {
  transition: all 0.3s ease-in-out;
}

.nav__list {
  display: flex;
  column-gap: 40px;
}

.nav__link {
  color: rgba(255, 255, 255, 0.75);
  font-family: "IBM Plex Mono", sans-serif;
  transition: all 0.2s;
}

.nav__link:hover,
.nav__link:focus {
  color: rgba(255, 255, 255, 1);
}


.hamburger {
  cursor: pointer;
  display: none;
}

.bar {
  height: 2px;
  width: 27px;
  background-color: #fff;
  margin: 5px 0;
  opacity: 0.8;
  transition: all 0.3s ease-in-out;
}
/* Dropdown Styles */
.dropdown {
  position: relative;
  cursor: pointer;
}

.dropdown .nav__link {
  position: relative;
}

.dropdown .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  list-style: none;
  padding: 5px 0;
  background-color: #192f4a; /* Dark blue background color */
  border: 1px solid #0d1d32; /* Darker border color */
  border-radius: 10px; /* Curved edges */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 200px; /* Adjust the width as needed */
}

.dropdown .dropdown-link {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: #fff; /* White text color */
  transition: background-color 0.2s;
}

.dropdown .dropdown-link:hover {
  background-color: #3165a2; /* Hover color */
}

/* Show the dropdown on hover */
.dropdown:hover .dropdown-menu {
  display: block;
}
/* For JS */
.nav--open {
  left: 50% !important;
}

.hamburger--open .bar:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}

.hamburger--open .bar:nth-child(2) {
  opacity: 0;
}

.hamburger--open .bar:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
}

  @media (max-width: 700px) {
    .nav {
      position: fixed;
      top: 90px;
      left: -100%;
      transform: translateX(-50%);
      background-color: rgb(19, 22, 26);
      width: 100%;
      padding: 10px 0 25px;
    }
  
    .nav__list {
      flex-direction: column;
      align-items: center;
      row-gap: 20px;
    }
  
    .nav__link {
      font-size: 14px;
    }
    .top-bar__content {     
      padding: 0 2px;     
      justify-content: center;
    }
  
  
    .hamburger {
      display: block;
    }
  }
  
  @media (max-width: 360px) {
    .top-bar__content {
      font-size: 10px;
    }
  }
  
  @media (min-width: 1300px) { 
    .bottom-bar__content {
      min-height: 110px;
      padding: 0 30px;
      margin: 0 auto;  
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  